In [29]:
# Connecting the fifa_world_cup database
import sqlite3
import pandas as pd

conn = sqlite3.Connection("fifa_world_cup.db")

In [87]:
# Selecting necessary columns
fifa_df = pd.read_sql_query('''
    SELECT date, home_team, home_team_fifa_rank, home_team_total_fifa_points, away_team, away_team_fifa_rank, away_team_total_fifa_points 
    FROM fifa_world_cup 
    ORDER BY home_team_fifa_rank ASC, away_team_fifa_rank ASC, home_team_total_fifa_points DESC, away_team_total_fifa_points DESC
        ''',conn)

In [89]:
# Checking if correct colums were selected and sorted
print(fifa_df.head(50))

          date  home_team  home_team_fifa_rank  home_team_total_fifa_points  \
0   2014-09-03    Germany                    1                         1735
1   2018-03-27    Germany                    1                         1609
2   2001-06-07     France                    1                            0
3   2005-06-29     Brazil                    1                            0
4   2021-10-07    Belgium                    1                         1832
5   2020-11-15    Belgium                    1                         1765
6   2017-03-23  Argentina                    1                         1644
7   1997-12-19     Brazil                    1                            0
8   2021-06-27    Belgium                    1                         1783
9   2016-11-15  Argentina                    1                         1621
10  2016-06-06  Argentina                    1                         1503
11  2016-06-26  Argentina                    1                         1503
12  1994-06-21    Germany                    1                            0
13  1999-07-24     Brazil                    1                            0
14  2000-07-26     Brazil                    1                            0
15  2004-06-02     Brazil                    1                            0
16  2018-03-23    Germany                    1                         1609
17  1995-06-04     Brazil                    1                            0
18  1999-09-07     Brazil                    1                            0
19  2021-07-02    Belgium                    1                         1783
20  2017-11-14    Germany                    1                         1631
21  1998-04-29     Brazil                    1                            0
22  1998-06-23     Brazil                    1                            0
23  2009-11-14     Brazil                    1                            0
24  2018-10-12    Belgium                    1                         1729
25  2013-06-27      Spain                    1                         1614
26  2014-03-05      Spain                    1                         1506
27  1999-07-11     Brazil                    1                            0
28  2003-06-23     Brazil                    1                            0
29  2006-07-01     Brazil                    1                            0
30  2009-02-11      Spain                    1                            0
31  1998-06-27     Brazil                    1                            0
32  1999-06-05     Brazil                    1                            0
33  1999-06-08     Brazil                    1                            0
34  1995-07-17     Brazil                    1                            0
35  2003-06-21     Brazil                    1                            0
36  1994-03-23    Germany                    1                            0
37  1997-12-16     Brazil                    1                            0
38  2009-03-28      Spain                    1                            0
39  2018-10-16     France                    1                         1729
40  2016-09-01  Argentina                    1                         1584
41  2012-06-10      Spain                    1                         1456
42  2012-07-01      Spain                    1                         1456
43  1997-04-30     Brazil                    1                            0
44  1997-06-16     Brazil                    1                            0
45  2020-11-18    Belgium                    1                         1765
46  2012-10-16      Spain                    1                         1611
47  2015-11-13    Belgium                    1                         1439
48  1997-06-19     Brazil                    1                            0
49  1998-06-16     Brazil                    1                            0

         away_team  away_team_fifa_rank  away_team_total_fifa_points
0        Argentina                    2                         1604
1           Brazil                    2                         1489
2           Brazil                    2                            0
3        Argentina                    3                            0
4           France                    4                         1754
5          England                    4                         1669
6            Chile                    4                         1388
7   Czech Republic                    4                            0
8         Portugal                    5                         1666
9         Colombia                    5                         1361
10           Chile                    5                         1293
11           Chile                    5                         1293
12           Spain                    5                            0
13         Germany                    5                            0
14       Argentina                    5                            0
15       Argentina                    5                            0
16           Spain                    6                         1228
17          Sweden                    6                            0
18       Argentina                    6                            0
19           Italy                    7                         1642
20          France                    7                         1226
21       Argentina                    7                            0
22          Norway                    7                            0
23         England                    7                            0
24     Switzerland                    8                         1598
25           Italy                    8                         1096
26           Italy                    8                         1134
27       Argentina                    8                            0
28          Turkey                    8                            0
29          France                    8                            0
30         England                    8                            0
31           Chile                    9                            0
32     Netherlands                    9                            0
33     Netherlands                    9                            0
34       Argentina                   10                            0
35             USA                   10                            0
36           Italy                   11                            0
37          Mexico                   11                            0
38          Turkey                   11                            0
39         Germany                   12                         1568
40         Uruguay                   12                         1129
41           Italy                   12                          976
42           Italy                   12                          976
43          Mexico                   12                            0
44          Mexico                   12                            0
45         Denmark                   13                         1610
46          France                   13                         1010
47           Italy                   13                         1040
48        Colombia                   13                            0
49         Morocco                   13                            0